<html>
	<head>
	<title>Smit Kakadiya Flask Practice</title>
	</head>
	<body>
		{% if error %}
			<p><strong>Error: </strong> {{ error }}</p>
		{% endif %}

		{% extends "layout.html" %}
		{% block content %}
		<div class="home">
			<form action="" method='post'>
				<dl>
					<dt> Username:</dt>
					<dd>
						<input type = text name = username>
					</dd>
					<dt>Password</dt>
					<dd>
						<input type = text name = password>
					</dd>
				</dl>
				<p><input type = submit value = Login /></p>
			</form>
		</div>
		{% endblock %}
		
	</body>
</html>